.video-container {
  transform: scaleX(-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.crop-marker {
  position: absolute;
  left: 200px;
  top: 120px;
  width: 175px;
  height: 200px;
  border: 2px solid blue;
  pointer-events: none;
}
